@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background: rgba(51, 51, 51, 0.375) ;
}
.nav{
  position: fixed;
  top:0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: linear-gradient(rgba(6, 4, 134, 0.6),transparent);
  z-index: 100;
}
.nav-logo p{
  color: #00ffff;
  color: #FF7F50;
  font-size: 25px;
  font-weight: 600;
}
.nav-menu ul{
  display: flex;
}
.nav-menu ul li{
  list-style-type: none;
}

.nav-menu ul li .link{
  text-decoration: none;
  font-weight: 600;
  color: #00ffff;
  color: #FF7F50;
  padding-bottom: 15px;
  margin: 15px;
}

.link:hover, .active{
  border-bottom: 2px solid #00ffff;
}
.nav-button .btn{
  width: 130px;
  height:40px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  background: #11cbe4;
  background: rgba(178, 217, 222, 0.3);
  transition: .3s ease;;
}
.btn:hover{
  background: rgba(178, 217, 222, 0.3);
}
#registerBtn{
  margin-left:  15px;
}
.btn.white-btn{
 background: rgba(0, 119, 189,0.9);
  background: #41b0b0;
}
.btn.btn.white-btn:hover{
  background: rgba(178, 217, 222, 0.3);
}
.nav-menu-btn{
  display: none;
}
.form-box{
  position: relative;
  display: flex;
  align-items: center;
  width: 512px;
  height: 420px;
  overflow: hidden;
  z-index: 2;
}
.login-container{
  position: absolute;
  left: 4px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: .5s ease-in-out ;
}
.register-container {
  position: absolute;
  right: -520px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: .5s ease-in-out;
}
.top span{
  color: #00ffff;
  font-size: small;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.top span a{
  font-weight: 500;
  color: #00ffff;
  margin-left: 5px;
}
header{
  color: #00ffff;
  font-size: 30px;
  text-align: center;
  padding: 10px 0 30px 0;
}

.two-forms{
  display: flex;
  gap: 10px;
}
.input-field{
  font: 15px;
  background: rgba(178, 217, 222, 0.3);
  color: #00ffff;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 45px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: .2s ease;
}
.input-field:hover, .input-field:focus{
  background: rgba(178, 217, 222, 0.5);

}
::-webkit-input-placeholder{
  color: #ffff;
}
.input-box i{
  position: relative;
  top: -35px;
  left: 17px;
  color: #00ffff;
}
.submit{
  font-size: 15px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(178, 217, 222, 0.3);
  transition: .3s ease-in-out;
}
.submit:hover{
  background: rgba(178, 217, 222, 0.5);
  box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.2);
}
.two-col{
  display: flex;
  justify-content: space-between;
  color:#00ffff;
  font-size: small;
  margin-top: 10px;
}
.two-col .one{
  display: flex;
  gap: 5px;
}
.two label a{
  text-decoration: none;
  color: #00ffff;
}
.two label a:hover{
  text-decoration: underline;

}














/* .container{
  width: 100%;
  height: 100vh;
  background: #3c5077;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn{
  padding: 10px 60px;
  background: #fff;
  border: 0;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
  outline: none;
}
.popup{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.5s, top 0.5s;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}

.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0 ;
  background: #6fd649;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  outline: none;

}
.passwordPage{
  width: 100%;
  height: 100vh;
  background: #3c5077;
}
.input-box{
  background: #fff;
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
  padding: 10px, 20px;
  margin: 300px auto;
  display: flex;
  align-items: center;
}
.input-box input{
  width: 100%;
  padding: 10px 0;
  border: 0;
  outline: 0;
  font-size: 24px;
  color: #555;
}
.input-box img{
  width: 35px;
  cursor: pointer;
} */

